body {
  background: #fff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  font-family: 'Baloo Paaji 2', cursive;
}

.title {
  font-size: 6rem;
  color: #fcc;
}

div {
  transform-style: preserve-3d;
  top: 0;
  left: 0;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  &.-y {
    animation: cameraY 30s linear infinite;
  }
  
  &.-x {
    transform: rotateX(10deg) translateY(-300px);
  }
}

.sakura {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 0% 100%;
  background: #fcc;
  transform: rotateZ(45deg);
   
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fcc;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform-origin: 100% 100%;
    transform: rotateZ(15deg);
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 8s linear infinite;
}

.drop {
  position: absolute;
  top: 0;
  left: 0;
  animation: drop 4s linear infinite;
  
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      left: random(100) + 0%;
      animation-delay: random(9999) * -1ms;
      animation-duration: random(8) + 5s;
      
      .slide {
        animation-delay: random(9999) * -1ms;
        animation-duration: random(10) + 5s;
      }
      
      .size {
        transform: scale(random(2) + 1);
        // transform: translateZ(random(500) * -1px);
      }
      
      .rotate {
        animation-delay: random(9999) * -1ms;
        animation-duration: random(4) + 1s;
      }
      
      $moveDelay: random(9999) * -1ms;
      
      .move, .reverse {
        animation-delay: $moveDelay;
      }
      
      .z {
        transform: translateZ(random(2000) - 1000px);
      }
      
//       .sakura {
//         $color: rgb(random(55) + 200, random(55) + 200, random(55) + 200);
//         background: $color;
        
//         &::before {
//           background: $color;
//         }
//       }
    }
  }
  
  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      .slide {
        animation: slide 8s linear infinite reverse;
        animation-delay: random(9999) * -1ms;
        animation-duration: random(10) + 10s;
      }
      
      .sakura {
        transform: rotateZ(-45deg);
      }
      
      .size {
        transform: scale(random(1));
      }
    }
  }
}

.move {
  animation: rotateZ 10s linear infinite;
}

.reverse {
  animation: rotateZ 10s linear infinite reverse;
}

.stagger {
  transform: translateY(150px);
}

.rotate {
  animation: rotateY 2s linear infinite;
}

@keyframes rotateZ {
  0% {
    transform: rotateZ(0deg);
  }
  
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateZ(-45deg) rotateY(0deg);
  }
  
  100% {
    transform: rotateZ(-45deg) rotateY(360deg);
  }
}

@keyframes cameraX {
  0% {
    transform: rotateX(0deg);
  }
  
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes cameraY {
  0% {
    transform: rotateY(0deg);
  }
  
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes cameraZ {
  0% {
    transform: rotateZ(0deg);
  }
  
  100% {
    transform: rotateZ(360deg);
  }
}


@keyframes slide {
  0% {
    transform: translateX(-2000px);
  }
  
  100% {
    transform: translateX(2000px);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
  }
  
  100% {
    transform: translateY(1200px);
  }
}